@import 'materialize';
@import 'ember-cli-materialize';

// *,
// *::before,
// *::after {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box; }
//
// html, body {
//   margin: 0;
//   padding: 0;
// }

h1 {
  text-align: center;
  margin: 0%;
}

.price {
  display: inline;
}

.price-button {
  float: right;
}

p {
  font-size: 14px;
  color: white;
}

#header-top {
  background-color: #f6ae2d;
}


.card {
  background-color: #33658a;
}

#header-bottom {
  background-color: #2f4858;
  padding-top: 25px;
  padding-bottom: 25px;
}
body {
  background-color: #2f4858;
}
// #header-bottom {
// //   padding-top: 10px;
// //   padding-bottom: 10px;
// // }
