@import 'materialize';
@import 'ember-cli-materialize';
* {
  color: white;
}


h1 {
  text-align: center;
  margin: 0%;
}

.price {
  display: inline;
}

.price-button {
  float: right;
  font-size: .75em;
}

p {
  font-size: 14px;
  color: white;
}

#header-top {
  background-color: #f6ae2d;
}


.card {
  background-color: #33658a;
}

#header-bottom {
  background-color: #2f4858;
  padding-top: 25px;
  padding-bottom: 25px;
}
body {
  background-color: #2f4858;
}
// #header-bottom {
// //   padding-top: 10px;
// //   padding-bottom: 10px;
// // }
