<div class="navbar-fixed">
  <nav class="z-depth-0">
    <div id="header-top" class="nav-wrapper">
      <ul id="nav-mobile" class="right">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        {{#link-to 'cart-page'}}<li>Cart:&nbsp;&nbsp;</li>
        <li>{{total-tile}}</li>{{/link-to}}
      </ul>
    </div>
  </nav>
</div>

<div id="header-bottom" class="header">
  <h1>Blotto's Camping Gear</h1>
</div>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
